/* TEMA PITAYA ROSA */
body {
    background-color: #fff0f6; /* Rosa pálido */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0;
    color: #4a0e2e;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

.logo-container {
    font-size: 60px;
    background: #ff007f; /* Magenta Pitaya */
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50% 10% 50%;
    border: 5px solid #a4de02; /* Verde das pontas */
    margin: 0 auto 10px;
    box-shadow: 0 8px 20px rgba(255, 0, 127, 0.3);
}

h1 {
    color: #ff007f;
    margin: 0;
    text-transform: uppercase;
}

/* FORMULÁRIO ESTILO POLPA */
form {
    background: white;
    padding: 30px;
    border-radius: 30px;
    border: 2px dashed #000; /* Representando as sementes da pitaya */
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 320px;
}

.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ff007f;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #fecdd3;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
    background: #fff;
}

input:focus {
    border-color: #a4de02;
    box-shadow: 0 0 8px rgba(164, 222, 2, 0.4);
}

/* BOTÃO MAGENTA */
button {
    background-color: #ff007f;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 0 #9d004e;
    transition: 0.2s;
}

button:hover {
    background-color: #e60073;
}

button:active {
    transform: translateY(3px);
    box-shadow: none;
}

/* RESULTADO */
#resultado {
    margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 320px;
    display: none;
    text-align: center;
    animation: popUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popUp {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.status {
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 10px;
}

/* CLASSES DE STATUS */
.aprovado { background: #e8f5e9; border: 3px solid #2e7d32; color: #1b5e20; }
.recuperacao { background: #fff3e0; border: 3px solid #ef6c00; color: #e65100; }
.reprovado { background: #ffebee; border: 3px solid #c62828; color: #b71c1c; }